@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
  color: #f1f1f1;
}
.ngetik {
  border-right: 2px solid #f1f1f1;
  animation: blinkTextCursor 800ms steps(44) infinite normal;
  color: #f5f5f5;
  font-family: 'Fira Code', monospace;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #f1f1f1;
  }
  to {
    border-right-color: transparent;
  }
}
