@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ngetik {
  border-right: 2px solid #f1f1f1;
  animation: blinkTextCursor 800ms steps(44) infinite normal;
  color: #f5f5f5;
  font-family: 'Fira Code', monospace;
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #f1f1f1;
  }
  to {
    border-right-color: transparent;
  }
}

#navbar {
  position: fixed;
  transition: 200ms ease-in-out;
}

#navbar.sticky {
  width: 100%;
  border-radius: 0%;

}
.gradient-heading {
  background: linear-gradient(45deg, #ff7f00, #ff3e00, #ff007f, #911691, #8000ff, #00ffff, #00ff00, #ffff00);
  background-size: 800% 800%;
  -webkit-animation: gradientAnimation 5s ease infinite;
  -moz-animation: gradientAnimation 5s ease infinite;
  animation: gradientAnimation 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 2em;
  line-height: 1;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.glowing-text {
  text-shadow: 0 0 5px rgb(34 211 238), 0 0 15px rgb(34 211 238),0 0 25px rgb(34 211 238);
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  display: grid;
    grid-template-columns: 1fr .3em 1fr;
}

.timeline-content {
  padding: 20px;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}
.timeline-middle {
  position: relative;
  background-color: #f1f1f1;
  width: .3em;
  height: 100%;
}
.main-middle {
  opacity: 0;
}
.timeline-circle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #f1f1f1;
 -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
